@import "./variables.scss";
.AddRecipe {
  margin: 100px 0 50px 0;

  .recipe-img {
    border-radius: 50px;
    max-width: 520px;
    height: auto;
    margin: 0 auto;
  }

  .show-calc-btn {
    margin-top: 10px;
  }
  .ing-inputs {
    margin-bottom: 10px;
  }

  .submit-btn {
    margin: 12.5px 0 25px 0;
  }

  .recipe-inputs {
    margin-top: 10px;
  }
  .ingredient-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contained-recipe-inputs {
    margin: 12.5px;
    width: 25vw;
  }
}
