@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $black !important;
  font-family: "Poppins", sans-serif !important;
  overflow-x: auto;
  text-align: center !important;
  h1 {
    margin: 20px 0 25px 0;
  }
  .search-input {
    background-color: $white;
    border-radius: 5px;
    border-color: $black;
  }

  .search-input-form-control:focus {
    background-color: $white;
    border-color: $primary-color;
    box-shadow: none;
    outline: 0 none;
    color: $black;
    box-shadow: 9px 9px 4px -4px hsla(0, 0%, 0%, 0.3);
  }

  .primary-btn {
    background-color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 5px;
    height: 57px;
    min-width: 250px;
    font-size: 1.25rem;
    padding-top: 3px;
    cursor: pointer;
  }

  .primary-btn:hover {
    background-color: $primary-light-color;
    border: 2px solid $primary-light-color;
    border-radius: 5px;
    box-shadow: 9px 9px 4px -4px hsla(280°, 100%, 82%, 0.6);
  }

  .secondary-btn {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    height: 57px;
    min-width: 250px;
    font-size: 1.25rem;
    padding-top: 3px;
    cursor: pointer;
  }

  .secondary-btn:hover {
    background-color: $secondary-light-color;
    border: 2px solid $secondary-light-color;
    border-radius: 5px;
    box-shadow: 9px 9px 4px -6px hsla(152°, 82%, 78%, 0.6);
  }

  .third-btn {
    background-color: $third-color;
    border: 2px solid $third-color;
    border-radius: 5px;
    height: 57px;
    min-width: 250px;
    font-size: 1.25rem;
    padding-top: 3px;
    cursor: pointer;
  }

  .third-btn:hover {
    background-color: $third-light-color;
    border: 2px solid $third-light-color;
    border-radius: 5px;
    box-shadow: 9px 9px 4px -4px hsla(280°, 100%, 82%, 0.6);
  }

  @media only screen and (max-width: 767px) {
    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .phone-none {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .pc-none {
    display: none;
  }
}
