.Login {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 25px;
  }
  .search-input-label {
    margin: 0 auto 25px auto;
  }

  button {
    height: 55px;
  }
}
