.Login {
  margin-top: 75px;
  .container {
    max-width: 520px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 25px;
  }
  .search-input-label {
    margin: 0 auto 25px auto;
  }

  button {
    max-width: 520px;
    height: 55px;
  }

  @media only screen and (min-width: 900px) {
    button {
      width: 497px;
    }
  }
}
